@model VolunteerRegistration.Models.Volunteer

<h2>Czy na pewno chcesz usunąć?</h2>

<div>
    <h4>@Model.Firstname @Model.Lastname</h4>
    <p>Email: @Model.Email</p>
    <p>Telefon: @Model.PhoneNumber</p>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Anuluj</a>
    </form>
</div>

